<h1>Division</h1>

<p>First number</p>
<p><%= @first_num.to_s.sub(/\.?0+$/, '') %></p>
<p>Second number</p>
<p><%= @second_num.to_s.sub(/\.?0+$/, '') %></p>
<p>Result</p>
<p><%= @quotient.to_s.sub(/\.?0+$/, '') %></p>

<a href="/divide">Do another division</a>