<h1>Subtraction</h1>

<p>First number</p>
<p><%= @first_num.to_s.sub(/\.?0+$/, '') %></p>
<p>Second number</p>
<p><%= @second_num.to_s.sub(/\.?0+$/, '') %></p>
<p>Result</p>
<p><%= @difference.to_s.sub(/\.?0+$/, '') %></p>

<a href="/subtract">Do another subtraction</a>